<div class="max-w-6xl mx-auto px-4">
  @if (collection$ | async; as collection) {
    <div class="flex justify-between items-center">
      <h2 class="text-3xl sm:text-5xl font-light tracking-tight text-gray-900 my-4">
        {{collection.name}}
      </h2>
    </div>
    <vsf-collection-breadcrumbs [breadcrumbs]="breadcrumbs$ | async"></vsf-collection-breadcrumbs>
    @if (collection.children.length) {
      <div class="max-w-2xl mx-auto py-4 lg:max-w-none border-b">
        <h2 class="text-2xl font-light text-gray-900">
          Collections
        </h2>
        <div class="mt-2 grid max-w-sm sm:max-w-none mx-auto grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-4">
          @for (child of collection.children; track child) {
            <vsf-collection-card
              [collection]="child">
            </vsf-collection-card>
          }
        </div>
      </div>
    }
  }

  @if (searchTerm$ | async; as term) {
    <h2 class="text-3xl sm:text-5xl font-light tracking-tight text-gray-900 my-4">
      Results for <span class="font-medium">"{{ term }}"</span>
    </h2>
  }

  <div class="mt-6 grid sm:grid-cols-5 gap-x-4">
    <vsf-product-list-controls
      class="mb-4"
      [facetValues]="facetValues"
      [activeFacetValueIds]="activeFacetValueIds$ | async"
    [totalResults]="unfilteredTotalItems"></vsf-product-list-controls>
    <div class="sm:col-span-5 lg:col-span-4">
      <div class="grid grid-cols-2 gap-y-4 gap-x-2 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        @if ((totalResults$ | async) !== null) {
          @for (product of products$ | async; track product.productId) {
            <vsf-product-card
            [product]="product"></vsf-product-card>
          }
        } @else {
          @for (product of placeholderProducts; track product) {
            <vsf-product-card
            [product]="product"></vsf-product-card>
          }
        }
      </div>
      @if (displayLoadMore$ | async) {
        <div class="load-more flex-fill">
          <button class="btn btn-light btn-lg d-inline-flex align-items-center"
            (click)="loadMore()"
            [disabled]="loading$ | async">
            Load more
            <span [class.show]="loading$ | async"
              class="loading-indicator spinner-grow spinner-grow-sm"
              role="status"
            aria-hidden="true"></span>
          </button>
        </div>
      }
    </div>
  </div>

  <ng-template #noResults>
    <div class="no-results col-12">
      <p class="h1">No results</p>
      <fa-icon icon="sad-cry" size="10x"></fa-icon>
    </div>
  </ng-template>
</div>
