<div class="max-w-6xl mx-auto p-4 flex items-center">
  @if (collectionTree$ | async; as tree) {
    <ul class="flex space-x-4">
      @for (collection of tree.children; track collection) {
        <li class="nav-item"
          (mouseenter)="onMouseEnter(collection)"
          (mouseleave)="close($event)">
          <a class="nav-link"
            [class.active]="(setActiveCollection$ | async)?.id === collection.id && overlayIsOpen$ | async"
            (touchstart)="onTopLevelClick($event, collection)"
          [routerLink]="['/category', collection.slug ]">{{ collection.name }}</a>
        </li>
      }
    </ul>
  }
</div>

<ng-template #menuTemplate>
  @if (activeCollection?.children?.length) {
    <div class="collections-menu-sub-collections"
      (touchstart)="captureTouchStart($event)"
      (mouseenter)="onMouseEnter(activeCollection)"
      (mouseleave)="close()"
      >
      <div class="container d-flex flex-wrap">
        @for (level1 of activeCollection.children; track level1) {
          <div class="level-1-block">
            <vsf-collection-card [collection]="level1"></vsf-collection-card>
            @for (level2 of level1.children; track level2) {
              <a class="level-2-link"
                [routerLink]="['/category', level2.slug]"
                (click)="close()">
                {{ level2.name }}
              </a>
            }
          </div>
        }
      </div>
    </div>
  }
</ng-template>
