<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <form #resetForm="ngForm"
    (submit)="resetPassword()">
    <vsf-centered-card>
      @if (!submitted) {
        <input class="input-text"
          placeholder="Email address"
          name="emailAddress"
          type="email"
          email
          required
          [(ngModel)]="emailAddress">
        <button class="btn-primary mt-3"
          [disabled]="resetForm.invalid || submitted"
          type="submit">
          Reset password
        </button>
      }
      @if (submitted) {
        <div class="alert alert-success" role="alert">
          An email has been sent to <strong>{{ emailAddress }}</strong>. Please check and follow the included
          instructions.
        </div>
      }
    </vsf-centered-card>
  </form>
</div>
